h1{
    padding-top: 20px;
}

.todolist{
    margin: 0 auto;
    background-color:  rgb(175, 252, 252,0.4);
    width: 600px;
    height: 600px;
    border-radius: 40px;
    backdrop-filter: blur(600px);
}

h1{
    text-align: center;
}

#todo{
    display: flex;
    justify-content: center;
}

li{
    display: block;
    justify-content: center;
    list-style: none;
}

#txt{
    width: 200px;
    height: 20px;
}
#addButton{
    width: 60px;
    height: 28px;
    border: none;
    background-color: white;
    gap:0;
    background-color: rgb(175, 252, 252);
} 
#deleteButton{
    width: 60px;
    height: 28px;
    border: none;
    background-color: white;
    gap:0;
    background-color: rgb(175, 252, 252);
}
#addList{
    width: 60px;
    height: 28px;
    border: none;
    background-color: white;
    gap:0;
    background-color: rgb(175, 252, 252);
}

button:hover{
    color: rgb(133, 133, 133);
}

.createList{
  text-align: center;
  background-color: rgb(205, 205, 205);
  border-radius:20px;
  width: 300px;
  height: 180px;
  margin: 0 auto;
  position: relative;
}
.hidden{
    display: none ;
}
#newlist{
    width: 270px;
    height: 35px;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    margin: 0 auto;
}

p{
    padding-top: 20px;
    font-weight: bold;
}

.cancel {
    border-radius: 30px;
    padding: 5px 10px;
    background-color: rgb(219, 219, 219);
}
.create{
    border-radius: 30px;
    border-radius: 30px;
    padding: 5px 30px;
    background-color: rgb(36, 36, 36);
    color: white;
}
.ccbutton{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 10px;
    margin-right: 10px;
}

.container{
    display: flex;
    position: relative;
}


.close{
   position: absolute;
   right: 0;
   height: 28px;
   border: none;
   background-color:  rgb(205, 205, 205);
   margin-right: 5px;
   margin-top: 5px;
   border-radius: 20px;
   
}

#openlist{
    position: absolute;
    right: 0;
    bottom:0;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    border-radius: 50px;
    border: none;
}

#viewlist{
    position: relative;
    margin: 0 auto;
    background-color: aliceblue;
    width: 300px;
    height: 180px;
    border-radius: 30px;

}

#viewlist p{
    text-align: center;
}

.watch{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 10px;
    background-color: rgb(89, 89, 89);
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
    color:white
}
